<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>localhost/MeatMeister</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MeatMeister</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>James</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MeatMeisterAPIContext" Order="2" Enabled="False">
          <Destination Path="Data Source=OFFICE-DESKTOP\SQLEXPRESS;Initial Catalog=MeatMeister;User ID=sa;Password=goodSw1llHunting" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MeatMeisterAPIContext-20201227013818.mdf;Initial Catalog=MeatMeisterAPIContext-20201227013818;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MeatMeisterAPIContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MeatMeisterAPIContext-20201227013818; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MeatMeisterAPIContext-20201227013818.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MeatMeisterDb" Order="3" Enabled="True">
          <Destination Path="Data Source=OFFICE-DESKTOP\SQLEXPRESS;Initial Catalog=MeatMeister;User ID=sa;Password=goodSw1llHunting" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MeatMeisterAPI.Models.MeatMeisterDb, MeatMeisterAPI" MigrationConfiguration="MeatMeisterAPI.Migrations.Configuration, MeatMeisterAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MeatMeisterAPIContext-Web.config Connection String">
      <ParameterValue>data source=OFFICE-DESKTOP\SQLEXPRESS;initial catalog=MeatMeister;user id=sa;password=goodSw1llHunting;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MeatMeisterDb-Web.config Connection String">
      <ParameterValue>Data Source=OFFICE-DESKTOP\SQLEXPRESS;Initial Catalog=MeatMeister;User ID=sa;Password=goodSw1llHunting</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>